body {
    display: flex;
    justify-content: center;
}

.container {
    width: 600px;
    height: 600px;
}

.add-item__item-title,
.list-item__item-title,
.completed-item__item-title {
    font-size: 50px;
    border-bottom: 1px solid black;
    padding: 15px 0;
}

.add-item__item-input {
    padding: 15px 0;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}